# R files
.Rhistory
.RData
.Rproj.user
*.Rproj

# Data files (if sensitive)
# data/*.csv

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*~
*.tmp
*.temp


# Data
data/raw/*
!data/raw/.placeholder
# data/processed/*.csv
# !data/processed/.keep

# Big files
*.rds
*.RData

# Plots/outputs (keep if you want to show figures)
# outputs/*
# !outputs/plots/*

# Python/R build artifacts
__pycache__/
.Rhistory
.Rproj.user


.venv